@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&family=Redressed&display=swap');
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcMpnM3je7rmEJ-feYbyvVjsj-RXcw9XQwMg&usqp=CAU');
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
.container,
.result {
  min-height: 400px;
  max-width: 40%;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px 30px;
  background-color: white;
  margin-top: 20px;
}
.h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Redressed', cursive;
}
#btn {
  margin: 10px;
  padding: 10px 50px;
  background-color: rgb(23, 54, 54);
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
#btn:hover {
  background-color: transparent;
  color: black;
}
.label > input {
  font-size: 15px;
  margin: 10px;
  font-family: 'Redressed', cursive;
}
